
.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:5px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
}

.card1{
    -fx-background-color:linear-gradient(to right, #6b2f39, #a34747);
    -fx-background-radius:8px;
}

.card2{
    -fx-background-color:linear-gradient(to right, #324a72, #4667a0);
    -fx-background-radius:8px;
}
.card3{
    -fx-background-color:linear-gradient(to right, #7c3a70, #a15794);
    -fx-background-radius:8px;
} 

.card4{
    -fx-background-color:linear-gradient(to right, #344250, #3c6382);
    -fx-background-radius:8px;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}
.table-view{
    -fx-border-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-padding:0px;
    -fx-border-radius:8px;
    -fx-border-width:2px;
}

.table-view .table-column{
    -fx-alignment: CENTER;
}

.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:50px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
}

.info-card{
    -fx-background-color:linear-gradient(to bottom right, #57252a, #29643f);
    -fx-background-radius:0px 5px 5px 0px;
}

.io-textfield{
    -fx-background-color:#fff;
    -fx-background-radius:5px;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
}

.io-reset-btn{
    -fx-background-color:#933eb5;
    -fx-background-radius:10px 5px 10px 5px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill: #fff;
}
.add-btn{
    -fx-background-color: #28a745;    
}

.update-btn{
    -fx-background-color: #ffc107;
}

.clear-btn{
    -fx-background-color: #933eb5;
}

.delete-btn{
    -fx-background-color: #dc3545;
}
.add-btn, .update-btn, .clear-btn, .delete-btn{
    -fx-background-radius: 10px 5px 10px 5px;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}
.add-btn:hover, .update-btn:hover, .clear-btn:hover, .delete-btn:hover{
    -fx-background-color: #007bff;
    -fx-scale-x: 1.11;
    -fx-scale-y: 1.11;
}

.tableviewBill {
    -fx-font-size: 14px;
}

.tableviewBill .table-cell {
    -fx-font-size: 14px;
}

.tableviewBill .column-header .label {
    -fx-font-size: 14px;
}

.curpass{
    -fx-text-fill:#dc3545;
}
.newpass{
    -fx-text-fill:#28a745;
}
.confirmpass{
    -fx-text-fill:#ffc107;
}

.my-spinner .text-field {
    -fx-font-size: 16px;
}

.tableviewPay .table-cell {
    -fx-font-size: 13px;
}